#components-form-demo-normal-apply {
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
}
.apply-title {
  text-align: center;
  color: rgb(24, 144, 255);
}
.apply-form-button {
  .ant-btn-primary {
    width: 100%;
  }
}

.apply-form-number {
  .ant-input-number {
    width: 100%;
  }
}
.apply {
  width: 260px;
  margin: 0 auto;
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
}