.ManageSlide {
    .logo {
        height: 32px;
        // background: url(/static/media/量大logo.a3329139.jpg) no-repeat;
        // background-size: 168px 32px;
        margin: 16px;
        border-radius: 2px;
        color: white;
        font-size: 16px;
        text-align: center;
    }
}
